<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, dolore
        inventore! Architecto commodi molestias, libero ipsum cupiditate, quo
        magnam minus consequuntur quam nam asperiores corporis itaque. Quasi
        amet ad saepe.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
